# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# env files (ÉP BUỘC GIẤU KỸ - CHẶN TỪNG FILE ĐỂ TRÁNH SƠ HỞ)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# các cấu hình cá nhân của bộ gõ code (IDE)
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# các file rác hệ điều hành tự sinh và chứng chỉ bảo mật
.DS_Store
Thumbs.db
*.pem
*.key